@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Madimi+One&family=Ojuju:wght@200..800&display=swap');


body{
    background: url('components/picture/iNoteBook-Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-size: 20px;
}

/* font-family: "Madimi One", sans-serif;----->for name iNote-Book(only) */
/* for writing note use-->

 font-family: "Ojuju", sans-serif;(special[login,signup] or some special highlight case) */